{% extends "base_page.html" %}
{% load static %}
{% load humanize %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">onepiece database</h1>
            <p class="lead fw-normal text-white-50 mb-0">your choices</p>
        </div>
    </div>
</header>
<br>
<br>
<div class="container">
    <div class="row g-4">

        {% for characters_data in box_character %}
            <div class="col-md-4">

                <div class="card h-100">

                    <h3 class="card-title text-center mt-2">
                        {{ characters_data.Last_name }} {{ characters_data.First_name }}
                    </h3>

                    {% if characters_data.full_body_photo %}
                        <img src="{{ characters_data.full_body_photo.url }}"
                             class="card-img-top"
                             alt="{{ characters_data.First_name }}">
                    {% endif %}

                    <div class="card-body">
                        <p class="card-text">
                            {% for key, value in quantities.items %}
                                {% if key == characters_data.id|slugify %}
                                    number of choice: {{ value }}
                                {% endif %}
                            {% endfor %}

                        </p>
                    </div>

                </div>

            </div>
        {% endfor %}

    </div>
</div>
<div class="text-center mt-3">
    <a href="{% url 'main_page' %}" class="btn btn-outline-dark">Home</a>
</div>
<br>
<br><br><br><br><br><br>

{% endblock %}
