{% extends "base_page.html" %}
{% block content %}
{% load static %}
{% load humanize %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">onepiece database</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div calss="col-4">
              <h1>login form</h1>
             </div>
        </center>
    </div>
</div>

{% endblock %}