{% extends "base_page.html" %}
{% block content %}
{% load static %}
{% load humanize %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">onepiece database</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div calss="col-4">
              <form method="POST" action="{% url 'signup_user_site' %}">
              {% csrf_token %}
                {{form.as_p}}
              <button type="submit" class="btn btn-secondary">signup to site</button>
            </form>
             </div>
        </center>
    </div>
</div>

{% endblock %}